# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
icon.rc
3501_Assignment_3.sln
3501_Assignment_3.vcxproj
3501_Assignment_3.vcxproj.user
addons.make
config.make
obj/x64/Debug/icon.res
obj/x64/Debug/3501_Assignment_3_debug.exe.recipe
obj/x64/Debug/3501_Assignment_3.log
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/rc.write.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/rc.read.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/rc.command.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/link.write.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/link.secondary.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/link.read.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/link.command.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/CL.write.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/CL.read.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/Cl.items.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/CL.command.1.tlog
obj/x64/Debug/3501_Ass.7FD42DF7.tlog/3501_Assignment_3.lastbuildstate
icon.aps
bin/3501_Assignment_3_debug.exp
.vs/3501_Assignment_3/v17/Solution.VC.db-wal
.vs/3501_Assignment_3/v17/Solution.VC.db-shm
.vs/3501_Assignment_3/v17/Solution.VC.db
.vs/3501_Assignment_3/v17/ipch/AutoPCH/ed0fcff9926bb4ae/MYCUSTOMCAMERA.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/512d219802341062/OFAPP.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/36f2410ddbbf83e9/MAIN.ipch
.vs/3501_Assignment_3/v17/DocumentLayout.json
.vs/3501_Assignment_3/v17/DocumentLayout.backup.json
.vs/3501_Assignment_3/v17/Browse.VC.opendb
.vs/3501_Assignment_3/v17/Browse.VC.db-wal
.vs/3501_Assignment_3/v17/Browse.VC.db-shm
.vs/3501_Assignment_3/v17/Browse.VC.db
.vs/3501_Assignment_3/v17/.suo
.vs/3501_Assignment_3/FileContentIndex/892cfd9b-bba0-45b6-aeb2-fd9a18d66fbb.vsidx
.vs/3501_Assignment_3/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
.vs/3501_Assignment_3/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/3501_Assignment_3/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/3501_Assignment_3/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/3501_Assignment_3/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
.vs/3501_Assignment_3/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/3501_Assignment_3/copilot-chat/8e9ac782/sessions/3c16f5de-a407-40c8-8af6-83d478767aba
.vs/3501_Assignment_3/FileContentIndex/a5b711f1-bd34-4a56-90a2-40d8528896b4.vsidx
/.vs/3501_Assignment_3/FileContentIndex
*.ipch
*.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/120782cdc6a842e1/GAMEOBJECT.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/1866a0af0044e0d8/GAMEOBJECT.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/4aa56fd9516d703e/COLLECTABLE.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/5162cfcbcec64f25/CONTEXT.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/b2d07f1f894a5fca/PLAYER.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/d147e4ee02456380/ENEMY.ipch
.vs/3501_Assignment_3/v17/ipch/AutoPCH/d42ff26dc373ce2c/CONTEXT.ipch
